.chats {
  display: flex;
  width: 90%;
  height: 100%;

  &__menu {
    width: 310px;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    height: 100vh;
    padding: 21px 10px 0 10px;
  }
  &__menu-head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 23px;
    padding-bottom: 14px;

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      font-size: 12px;
      color: #999999;

      & svg {
        width: 12px;
      }
    }
    &__input {
      width: 100%;
      border: 0;
      outline: 0;
      border-color: #efefef;
      text-align: center;
      border-radius: 5px;
      padding: 10px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    &__item {
      border-top: 1px solid #eaeaea;
      height: 71px;
      display: flex;
      padding: 12px 0;

      &-img {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: gray;
      }

      &-info {
        width: 193px;
      }
    }
  }

  &-info {
    &__title {
      color: #1e1e1e;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
      margin-bottom: 4px;
    }
    &__note {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      color: #999999;
    }
  }

  &-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__time {
      color: #999999;
      font-size: 9px;
      line-height: 13px;
    }

    &__ring {
      width: 20px;
      height: 20px;
      font-size: 11px;
      line-height: 12px;
      color: #ffffff;
      background-color: #3369f3;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    padding: 0 20px;

    &-head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaeaea;

      &-info {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 0;
      }
    }
  }

  &__content-head-info__avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: lightgray;
  }

  &-content__item-info__title {
    color: #1e1e1e;
    font-size: 13px;
    font-weight: 600;
  }

  &__content-head-dote {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 15px;
    }
  }

  &__content-field {
    position: relative;
    flex-grow: 2;
    padding-top: 90px;
  }

  &__content {
    &-field-date {
      position: absolute;
      top: 48px;
      left: 50%;
      transform: translateX(-50%);
      color: #999999;
      font-size: 12px;
      line-height: 12px;
    }
    &-actions {
      border-top: 1px solid #eaeaea;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
    &-actions-icon-file,
    &-actions-icon-send {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: #3369f3;
      background-color: #fff;
    }

    &-actions-icon-file {
      color: #999999;
    }

    &-actions-input {
      flex-grow: 2;
    }
  }
}

.input-message {
  outline: 0;
  border: 1px solid #eaeaea;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 5px 10px;
}
