* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font-family;
}

.text-input {
  width: 100%;
  padding: 7px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid $main-color;
  color: $text-dark-color;
  font-size: 13px;
  font-weight: 500;
  font-family: $main-font-family;
}

.text-input::placeholder {
  font-family: $main-font-family;
  color: $text-light-grey-color;
  font-size: 13px;
}

.btn {
  width: 100%;
  background-color: $main-color;
  color: $white-color;
  border-radius: 12px;
  border: none;
  padding: 12px;
  font-size: 13px;
  outline: none;
  font-family: $main-font-family;
}

.btn:active {
  transform: translateY(3px);
}

.link {
  font-size: 11px;
  text-decoration: none;
  color: $main-color;
}

.menu-item__link {
  font-size: 20px;
}

.input-field-box {
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  color: $error-message-color;
}
