.login-form {
  width: 340px;
  min-height: 450px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__title {
    text-align: center;
    color: #1e1e1e;
    font-size: 20px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  & div {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    color: red;
  }
}
