.chats-modal {
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 5px 23 $box-shadow-color;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
  background-color: $white-color;
}
