.profile {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  font-family: $main-font-family;

  &__left {
    position: fixed;
    height: 100%;
    background-color: $bg-color-light;
    border-right: 1px solid $border-color;
    top: 0;
    left: 0;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__nav-icon svg {
    width: 28px;
    height: 28px;
    color: $main-color;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: $t-color;
    overflow: hidden;
    position: relative;

    &:hover .overlayAvatar {
      display: flex;
    }

    &-img {
      background-image: cover;
    }
  }

  &__user-data-name {
    font-family: $main-font-family;
    font-style: normal;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
  }

  &__list-data {
    width: 510px;

    &-item {
      font-family: $main-font-family;
      font-size: 13px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;
      font-weight: 500;

      & .list-item--light {
        position: relative;
        color: $text-light-grey-color;
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 40px;
      }
    }
  }
  &__nav {
    width: 510px;

    & a {
      text-decoration: none;
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $border-color;
      color: $main-color;
      font-size: 13px;
      font-family: $main-font-family;
    }
  }
}

.overlayAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: none;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.input-change {
  border: 0;
  color: $text-dark-color !important;

  &:focus {
    outline-color: skyblue;
  }
}

.avatar-link {
  color: #fff;
  font-size: 15px;

  &:hover {
    transform: scale(1.1);
  }
}

.change-data-window {
  width: auto;
  border-radius: 12px;
  background-color: #fff;
  padding: 30px;
}
