.registration-form {
  width: 340px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;

  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    // & input:last-child {
    //   margin-bottom: 30px;
    // }
  }

  &__title {
    text-align: center;
    color: #1e1e1e;
    font-size: 20px;
    padding: 10px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 30px;
  }

  & div {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    color: red;
  }
}
