$main-font-family: "Inter", "sans-serif";
$main-color: #3369f3;
$border-color: #eaeaea;
$bg-color-light: #fbfbfb;
$text-dark-color: #1e1e1e;
$text-light-grey-color: #999999;
$white-color: #ffffff;
$box-shadow-color: rgba(0, 0, 0, 0.14);
$input-bd-color: #efefef;

$t-color: #d3d3d3;
